.sidebar {
  padding: 3.2rem 0 1.6rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  box-shadow: 10px 0px 5px -5px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}

.img-container {
  width: 100%;
  padding: 0 3.2rem;
}

.img-container img {
  width: 100%;
}

.selected {
  color: #fff;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 4.8rem rgba(0, 0, 0, 0.1);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
