.table-head {
  flex: 0 0 5.2rem;
  display: flex;
}

.table-head .table-row {
  flex: 0 0 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.table-head p {
  color: #222;
}

.table-head .table-col:nth-child(2) {
  justify-content: flex-start;
}
