.add-button,
.tags-button {
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
  position: absolute;
  bottom: -0.8rem;
  right: 2rem;
  z-index: 9;
  background-color: #5f9ea0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tags-button {
  left: 2rem;
  background-color: #c486ed;
}

.tags-button:hover {
  background-color: #9d6bbe;
}

.add-button:hover {
  background-color: #4c7e80;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
}
